.container {
    text-align: center;
}

h1 {
    text-align: center;
    font-family: "Dosis", Cursive;
}
footer {
    font-family: "Dosis", Cursive;
    text-align: center;
    margin-top: 10px;
}

.city, .clock-this-city {
    font-family: "Dosis", Cursive;
        text-align: center;
}
.form-group {
    display: flex;
    flex-direction: column;
        font-family: "Dosis", Cursive;
        align-items: center;
}
label {
    margin-bottom: 5px;
}
select {
    font-family: "Dosis", Cursive;
    width: 200px;
    text-align: center;
}